<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Score</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Add Score</h1>
<form th:action="@{/scores}" th:object="${studentScore}" method="post">
    <label for="student">Student:</label>
    <select id="student" name="studentId" th:field="*{student.studentId}">
        <option th:each="student : ${students}" th:value="${student.studentId}" th:text="${student.fullName}">Student</option>
    </select><br/>

    <label for="subject">Subject:</label>
    <select id="subject" name="subjectId" th:field="*{subject.subjectId}">
        <option th:each="subject : ${subjects}" th:value="${subject.subjectId}" th:text="${subject.subjectName}">Subject</option>
    </select><br/>

    <label for="score1">Score 1:</label>
    <input type="text" id="score1" th:field="*{score1}" /><br/>

    <label for="score2">Score 2:</label>
    <input type="text" id="score2" th:field="*{score2}" /><br/>

    <input type="submit" value="Add Score" />
</form>
<a th:href="@{/students}">Back to List</a>
</body>
</html>
